.sliderContainer {
  margin-top: 4rem;
}
.slider {
  height: 500px !important;
  width: 90%;
  margin: auto;
}

.slider img {
  padding: 1rem;
  border-radius: 1.5rem;
  min-height: 500px;
  max-height: 500px;
  object-fit: cover;
}
.rotate {
  transform: rotate(180deg);
  margin-right: 1rem;
}
.rotate svg {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.rightArrow {
  margin-left: 1rem;
}

.rightArrow svg {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

@media (max-width: 1550px) {
  .rotate {
    margin-right: 0rem;
  }

  .rightArrow {
    margin-left: 0rem;
  }
}

@media (max-width: 900px) {
  .sliderContainer {
    margin-top: 0;
  }
  .slider {
    width: 70%;
    height: 400px !important;
  }
  .slider img {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 0rem;
    min-height: 400px;
    max-height: 400px;
  }

  .rotate {
    margin-right: 1rem;
  }
  .rightArrow {
    margin-left: 1rem;
  }
}
@media (max-width: 600px) {
  .slider {
    width: 100%;
    overflow: hidden;
  }

  .rotate {
    display: none;
  }
  .rightArrow {
    display: none;
  }
}
