.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.container input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  width: 50%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.container button div {
  font-size: 1rem;
}

.container h1 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #00bf63;
}

/*TUTAJ ZACZYNA SIE SEKCJA CSS DLA JUZ ZALOGOWANYCH UZYTKOWNIKOW */

.container2 {
  min-height: 90vh;
  padding: 2rem 9%;
  min-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;
}

.container2 h1 {
  font-size: 4rem;
}

.container2 h2 {
  margin-top: 4rem;
}

.container2 p {
  color: grey;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container2 button div {
  font-size: 1rem !important;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.buttons {
  margin-top: 1rem;
}

.buttons button div {
  background: green;
  color: white;
}

.error {
  color: red;
  margin-bottom: 1rem;
}
