.header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.3rem;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.add {
  margin-bottom: 2rem;
}

.add h4 {
  font-size: 1.3rem;
}

.add p {
  font-size: 1rem;
}

.loading {
  margin-top: 2rem;
}

.imageWrapper img{
  object-fit: cover;
}


.error {
  color: red !important;
}
