.container{
  margin-bottom: 5rem;
}

.addingContainer h4 {
  font-size: 1.6rem;
}

.addingContainer p {
  font-size: 1rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.addingContainer h5 {
  color: green;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.imageContainer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
}

.imageWrapper img {
  width: 250px !important;
}

.imageWrapper button {
  margin: 0.2rem;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.2rem;
  color: #00bf63;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.imageWrapper button:hover {
  color: #00bf63;
  background: white;
  cursor: pointer;
}
