.menuContainer {
  margin: auto;
  padding: 2rem 9%;
}

.logo {
  text-align: center;
  margin-top: 5rem;
}

.logo h1 {
  color: #00bf63;
  font-size: 5.5rem;
}

.logo h2 {
  transform: translateY(-1rem);
  margin-bottom: 3rem;
}

.buttons {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.buttons button {
  padding: 1rem 2rem;
  border: 2px solid #00bf63;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease;
  background: black;
  color: white;
}

.buttons button:hover {
  background: rgb(0, 37, 12);
  cursor: pointer;
  transform: translateY(-1px);
}

.menuImages {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
  .buttons {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .menuImages {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .logo h1 {
    color: #00bf63;
    font-size: 3.5rem;
  }
  .logo h2 {
    margin-bottom: 0rem;
  }
}

@media (max-width: 600px) {
  .buttons {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .menuImages {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
}
