.container {
  background: transparent;
  border: 0;
}

.container div {
  display: inline-block;
  padding: 1rem 2rem;
  border: 0px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  background: white;
}

.container div:hover {
  cursor: pointer;
}
