.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 3rem 1.5rem;
  background: rgb(20, 20, 20);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in;
}

.container:hover {
  scale: 1.03;
}

.container h3 {
  color: #00bf63;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.text2 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.container p {
  margin-bottom: 1.5rem;
}

.container button div {
  font-size: 1rem;
  margin-right: 0;
}

