.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 90vh; /* Maksymalna wysokość modala */
  overflow-y: auto; /* Włącz przewijanie w pionie */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.85);
}
.calendar {
  margin: auto;
}
.enableDate {
  background-color: #00bf63; /* Jasnoszary kolor dla niedostępnych dat */
  color: #ffffff; /* Szary kolor tekstu */
  font-weight: bold;
  font-size: 1.02rem;
}
.selectedDate {
  background-color: #006edc;
  font-size: 1.02rem;
}
.modal select {
  width: 80%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 0.5rem;
  margin: auto;
}

.modal label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.modal h2 {
  font-size: 2.5rem;
}

.modal p {
  margin-bottom: 1.5rem;
  color: grey;
}

.modal h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
  color: #00bf63;
}

.buttons button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  border: 0;
  font-weight: bold;
  margin-right: 1rem;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}
.buttons button:hover {
  cursor: pointer;
  scale: 1.1;
}

.buttons button:nth-child(1) {
  background: #2c974b;
}
.buttons button:nth-child(2) {
  background: #ee4e4e;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.personalInfo input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0px;
}

.errorMessage {
  margin-top: 1rem;
  color: #ee4e4e !important;
  font-size: 1.1rem;
}
