.modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 90vh; /* Maksymalna wysokość modala */
  overflow-y: auto; /* Włącz przewijanie w pionie */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.85);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: red;
}

.closeButton:hover {
  color: darkred;
}

.calendar {
  margin: auto;
}
.enableDate {
  background-color: #00bf63;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.02rem;
}
.selectedDate {
  background-color: #006edc;
  font-size: 1.02rem;
}
.modal select {
  width: 50%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 3rem;
}

.modal label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.modal h2 {
  font-size: 2.5rem;
}

.modal p {
  margin-bottom: 1.5rem;
  color: grey;
}

.modal h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
  color: #00bf63;
}

.buttons {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.buttons button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  border: 0;
  font-weight: bold;
  margin-right: 1rem;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}
.buttons button:hover {
  cursor: pointer;
  scale: 1.1;
}

.buttons button:nth-child(1) {
  background: #2c974b;
}
.buttons button:nth-child(2) {
  background: #ee4e4e;
}

.personalInfo {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  text-align: left;
}

.personalInfo div {
  display: flex;
  justify-content: space-between;
}

.personalInfo input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0px;
  font-size: 16px;
}

.errorMessage {
  margin-top: 2.5rem;
  color: #ee4e4e !important;
  font-size: 1.1rem;
  font-weight: bold;
}

.invalidInput {
  border: 2px solid red;
}

@media (max-width: 1200px) {
  .modal {
    padding: 3rem 1rem;
    border-radius: 0.5rem;
    width: 70%;
    top: 60%;
  }
}

@media (max-width: 900px) {
  .personalInfo {
    width: 80%;
  }
  .modal select {
    width: 80%;
  }
  .modal h2 {
    font-size: 2rem;
  }

  .modal p {
    margin-bottom: 1.2rem;
  }

  .modal h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 100%;
  }
  .personalInfo {
    width: 70%;
  }
  .modal select {
    width: 70%;
  }
  .modal label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .closeButton {
    top: 3px !important;
  }
  .modal h2 {
    padding-top: 2rem;
  }
  .buttons {
    margin-top: 1rem;
    padding-bottom: 6rem;
  }
}
