.back {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 9%;
  margin: auto;
}


.container h2 {
  text-transform: uppercase;
  font-size: 3rem;
  background: -webkit-linear-gradient(#eee, #00bf63);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  fill: gold;
}

.textContainer {
  max-width: 70%;
  margin: auto;
}

.container p {
  color: #919993;
  margin-bottom: 2rem;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 4rem;
}
.icons svg {
  font-size: 3.5rem;
  color: #00bf63;
  margin-bottom: 1rem;
}

.icons p {
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1640px) {
  .back {
    margin-top: 0rem;
  }

  .container p {
    margin-bottom: 2rem;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1rem;
  }
}

@media (max-width: 1200px) {
  .container h2 {
    font-size: 2.5rem;
  }
  .container p {
    font-size: 0.95rem;
  }
}

@media (max-width: 900px) {
  .textContainer {
    max-width: 90%;
  }
  .container p {
    font-size: 0.9rem;
  }
  .icons {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 4rem;
  }
  .icons svg {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .icons p {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .textContainer {
    max-width: 100%;
  }
  .container h2 {
    font-size: 1.8rem;
  }
  .container p {
    font-size: 0.85rem;
  }

  .icons {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  .icons svg {
    margin-bottom: 0.5rem;
  }
  .icons p {
    font-size: 0.8rem !important;
  }
}
