.container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  margin: auto;
}

.logo {
  font-size: 2rem;
  text-align: center;
}

.logo p:nth-child(1) {
  font-size: 5.5rem;
  color: #00bf63;
  font-weight: bold;
}
.logo p:nth-child(2) {
  transform: translateY(-1.8rem);
}

.container h1 {
  margin-top: 2.5rem;
  font-size: 2rem;
  text-align: center;
}

.buttonsContainer {
  margin-top: 2rem;
}

.buttonsContainer div:nth-child(1) {
  margin-right: 1rem;
}

