.container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
}

.container h1 {
  font-size: 3rem;
}

.buttonsContainer {
  margin-top: 2rem;
}

.buttonsContainer button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.buttonsContainer button:hover {
  cursor: pointer;
}

.buttonsContainer button:nth-child(1) {
  background: white;
  color: black;
  border: 0;
  margin-right: 1rem;
}

.buttonsContainer button:nth-child(2) {
  border: 1.5px solid white;
  background: black;
  color: white;
}
