.container {
  margin-bottom: 5rem;
  margin-top: 3rem;
  min-height: 100vh;
}

.textContainer {
  text-align: center;
  max-width: 60%;
  margin: auto;
}

.textContainer h4 {
  text-transform: uppercase;
  font-size: 3rem;
}

.textContainer p {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #919993;
}

.imagesContainer {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.imagesContainer img {
  width: 75% !important;
  margin: auto;
  border-radius: 0.5rem;
}

.socialsIcons svg {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transition: all 0.1s ease-in;
}

.socialsIcons svg:hover {
  scale: 1.1;
}

.instagram {
  color: orangered;
  margin-left: 2rem;
}

.tiktok {
  color: #24ccc7 !important;
}

.facebook {
  color: #4267b2 !important;
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  .textContainer h4 {
    font-size: 2.5rem;
  }

  .textContainer p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 900px) {
  .textContainer {
    max-width: 80%;
  }

  .textContainer p {
    font-size: 0.9rem;
  }
  .imagesContainer {
    display: grid;
    padding: 1.5rem;
    gap: 1rem;
  }
  .imagesContainer img {
    width: 100% !important;
  }

  .icons svg {
    font-size: 2.7rem;
  }
  .container {
    margin-bottom: 0rem;
    margin-top: 7rem;
  }
}

@media (max-width: 600px) {
  .textContainer {
    max-width: 80%;
  }
  .textContainer h4 {
    font-size: 1.8rem;
  }
  .textContainer p {
    font-size: 0.85rem;
  }
  .imagesContainer {
    grid-template-columns: 1fr 1fr;
    padding: 0rem;
  }
  .imagesContainer img {
    width: 80% !important;
  }

  .icons svg {
    font-size: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .container {
    margin-bottom: 0rem;
    margin-top: 5rem;
  }
}
