.container {
  padding: 2rem 9%;
  min-height: 100vh;
}

.container h1 {
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(#0ae657, #028646);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textContainer img {
  margin-bottom: 2rem;
}

.textContainer {
  max-width: 60%;
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
}

.container p {
  color: #919993;
}

.formContainer {
  width: 80%;
  margin: auto;
}

.inputs {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.inputs input::placeholder {
  color: rgb(173, 172, 172);
  font-size: 0.9rem;
}

.inputs input {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  color: white;
  background: rgb(51, 51, 51);
  font-size: 16px;
}

.formContainer textarea {
  margin-top: 2rem;
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  font-size: 16px;
  background: rgb(51, 51, 51);
  padding: 1rem;
  min-height: 200px;
  color: white;
}

.formContainer textarea::placeholder {
  color: rgb(173, 172, 172);
  font-size: 0.9rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.errorMessage {
  color: red !important;
  margin-top: 1.5rem;
}

.thanksMessageContainer {
  margin: auto;
  text-align: center;
}

.thanksMessageContainer h4 {
  font-size: 2.5rem;
}

.thanksMessageContainer p {
  color: #b4b4b4;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .container h1 {
    font-size: 2rem;
  }
  .textContainer {
    max-width: 90%;
  }
  .container p {
    font-size: 0.9rem;
  }
  .formContainer {
    width: 100%;
  }

  .inputs input::placeholder {
    color: rgb(173, 172, 172);
    font-size: 0.8rem;
  }

  .formContainer textarea {
    min-height: 120px;
  }

  .formContainer textarea::placeholder {
    font-size: 0.8rem;
  }

  .buttonContainer div {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 1.8rem;
    margin-top: 0rem;
  }
  .container {
    margin-top: 8rem;
  }
  .inputs {
    flex-direction: column;
  }
  .formContainer textarea {
    margin-top: 1rem;
  }
}
